.topic{
    width: 100%;
    text-align: center;
    border: 1px solid green;
}
.main{
    display: flex;
}
.left{
    width: 40vh;
    border: 1px solid red;
    height: 74vh;
    padding: 20px;
}
.right{
    border: 1px solid brown;
    height: 80vh;
    width: 100%;
    text-align: center;
}

.footer{
    width: 100%;
    text-align: center;
    border: 1px solid blue;
}