input{
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    font-size: 20px;
    margin: 12px 0px;
    box-sizing: border-box;
}
label{
    font-size: larger;
}
div{
    max-width: 500px;
    margin: auto;
    padding: 10px;
}
.btn{
    background-color: aqua;
    cursor: pointer;
    }
    .btn:hover{
    background-color: rgb(14, 191, 191);
    }
h1{
    text-align: center;
}
h3{
    text-align: center;
}